flows (2).json
[{"id":"8c13b1d5.1a65b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"28b4dafa.cece46","type":"tab","label":"Matematica","disabled":false,"info":""},{"id":"c827982a.ffe678","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"35f45646.37bd8a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"node-red-server","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d3bc49e3.8e9448","type":"google-cloud-credentials","z":"","name":"Json Key flile"},{"id":"ddf935a5.e55398","type":"mqtt in","z":"8c13b1d5.1a65b","name":"","topic":"testtopic/1","qos":"2","datatype":"auto","broker":"35f45646.37bd8a","x":140,"y":140,"wires":[["743a05dc.7a403c"]]},{"id":"e57c823e.6b833","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"8c73c856.befac8","type":"http in","z":"8c13b1d5.1a65b","name":"","url":"/preguntas","method":"post","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["7f4d562a.680cb8","a15e9907.346208","523ef7da.4226a8"]]},{"id":"7f4d562a.680cb8","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"7a74bc2a.94e004","type":"http request","z":"8c13b1d5.1a65b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/response","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":400,"wires":[["63b886d9.fce228"]]},{"id":"d1231a5b.404498","type":"inject","z":"8c13b1d5.1a65b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"idOperation\":12,    \"gloveCode\":\"1941238-1458400\",    \"answer\":2 }","payloadType":"json","x":150,"y":420,"wires":[[]]},{"id":"63b886d9.fce228","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"a15e9907.346208","type":"http response","z":"8c13b1d5.1a65b","name":"respuesta 200","statusCode":"","headers":{},"x":840,"y":220,"wires":[]},{"id":"743a05dc.7a403c","type":"json","z":"8c13b1d5.1a65b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["e57c823e.6b833","7a74bc2a.94e004"]]},{"id":"523ef7da.4226a8","type":"mqtt out","z":"8c13b1d5.1a65b","name":"out_to_golves","topic":"iot/edin/register","qos":"","retain":"","broker":"35f45646.37bd8a","x":1120,"y":260,"wires":[]},{"id":"5bae0cc1.463244","type":"http request","z":"8c13b1d5.1a65b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/user","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":760,"wires":[["97effb65.1ac538"]]},{"id":"7e18bff8.f36bd","type":"inject","z":"8c13b1d5.1a65b","name":"Testing glovecode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"gloveCode\": \"10000000499e0fe7\"}","payloadType":"json","x":170,"y":760,"wires":[["5bae0cc1.463244"]]},{"id":"97effb65.1ac538","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":760,"wires":[]},{"id":"4282c757.a96b58","type":"json","z":"8c13b1d5.1a65b","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["d8e78278.ef7bc","5bae0cc1.463244"]]},{"id":"a60106e7.329fd8","type":"mqtt in","z":"8c13b1d5.1a65b","name":"","topic":"testtopic/registro","qos":"2","datatype":"auto","broker":"35f45646.37bd8a","x":160,"y":500,"wires":[["4282c757.a96b58"]]},{"id":"d8e78278.ef7bc","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":500,"wires":[]},{"id":"7df35e86.9095","type":"exec","z":"8c13b1d5.1a65b","command":"cat /proc/cpuinfo | grep ^Serial | cut -d\":\" -f2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getserial","x":310,"y":80,"wires":[["64e42fe8.d7f3c"],[],[]]},{"id":"9d4ce375.0708d","type":"inject","z":"8c13b1d5.1a65b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["7df35e86.9095"]]},{"id":"68a2f1ca.85c9d","type":"http request","z":"8c13b1d5.1a65b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://devloop.space:3000/api/v1/administrator/authenticate","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":820,"wires":[["68c41fe6.c15f4"]]},{"id":"7f9251d0.01d03","type":"inject","z":"8c13b1d5.1a65b","name":"Testing USER LOGIN","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"email\": \"Estuardo1314@gmail.com\",     \"pass\": \"Operaciones\"  }","payloadType":"json","x":160,"y":820,"wires":[["68a2f1ca.85c9d"]]},{"id":"4c5078a2.41f328","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":960,"wires":[]},{"id":"9e39c0af.24444","type":"inject","z":"8c13b1d5.1a65b","name":"Registering Devices.","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":960,"wires":[["618b5470.325ecc"]]},{"id":"68c41fe6.c15f4","type":"function","z":"8c13b1d5.1a65b","name":"flow.set (Client idAdministrator= idAdministrator)","func":"var idAdministrator = msg.payload.result.idAdministrator\nflow.set('CloudidAdministrator',idAdministrator);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":880,"wires":[["a1c6ae10.92d8f"]]},{"id":"a1c6ae10.92d8f","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":880,"wires":[]},{"id":"618b5470.325ecc","type":"function","z":"8c13b1d5.1a65b","name":"Get Admin ID and Mudule ID","func":"msg.payload = {\n    \"module\" : flow.get(\"CloudIdModulo\") \n};\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":960,"wires":[["4c5078a2.41f328","24bf1a46.bcfa66"]]},{"id":"64e42fe8.d7f3c","type":"function","z":"8c13b1d5.1a65b","name":"flow.set (Client idModulo= idModulo)","func":"msg.payload = msg.payload.trim()\nvar idModulo = msg.payload\nflow.set('CloudIdModulo',idModulo);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":80,"wires":[["a9792ee3.92e38"]]},{"id":"a9792ee3.92e38","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":80,"wires":[]},{"id":"33fce262.d229ee","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":460,"wires":[]},{"id":"7739c26e.f80ddc","type":"mqtt in","z":"8c13b1d5.1a65b","name":"manageTopic from gloves","topic":"iot/edin/mgmt/manage","qos":"2","datatype":"utf8","broker":"35f45646.37bd8a","x":190,"y":340,"wires":[["1ac0b917.f6cf47"]]},{"id":"a1aa5a42.c2c988","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":340,"wires":[]},{"id":"1ac0b917.f6cf47","type":"json","z":"8c13b1d5.1a65b","name":"","property":"payload","action":"","pretty":false,"x":670,"y":320,"wires":[["a1aa5a42.c2c988"]]},{"id":"24bf1a46.bcfa66","type":"google-cloud-pubsub out","z":"8c13b1d5.1a65b","account":"d3bc49e3.8e9448","keyFilename":"e59e2934ad76dd74c3a290c155c6ffea2f16b121","topic":"projects/flatbox-edin/topics/in_register_modules","name":"Register_Modules_Topic","x":1110,"y":660,"wires":[["33fce262.d229ee"]]},{"id":"393d109.56fb3f","type":"inject","z":"8c13b1d5.1a65b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"idOperation\":12,    \"gloveCode\":\"1941238-1458400\",    \"answer\":2 }","payloadType":"json","x":150,"y":600,"wires":[["bcd3e3a.ece392"]]},{"id":"bcd3e3a.ece392","type":"function","z":"8c13b1d5.1a65b","name":"flow.set (Client idAdministrator= idAdministrator)","func":"var CloudIdModulo = msg.payload.result.CloudIdModulo\nflow.set('CloudIdModulo',CloudIdModulo);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":600,"wires":[["d5912710.edd658"]]},{"id":"d5912710.edd658","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":640,"wires":[]},{"id":"3efc10e3.04116","type":"mqtt in","z":"28b4dafa.cece46","name":"","topic":"iot/edin/evnt/testing_tinyPico","qos":"2","datatype":"auto","broker":"35f45646.37bd8a","x":140,"y":40,"wires":[["3c195e32.88ad72","595202ec.1a1acc"]]},{"id":"d7e5ef8f.3c09e","type":"mqtt out","z":"28b4dafa.cece46","name":"Topico de Operacion","topic":"iot/edin/evnt/reponse/json","qos":"0","retain":"false","broker":"35f45646.37bd8a","x":2400,"y":220,"wires":[]},{"id":"9451eb39.4493f8","type":"debug","z":"28b4dafa.cece46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":20,"wires":[]},{"id":"3c195e32.88ad72","type":"json","z":"28b4dafa.cece46","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":100,"wires":[["71f897e5.6d0238","595202ec.1a1acc"]]},{"id":"317f8214.e549ee","type":"inject","z":"28b4dafa.cece46","name":"Json de respuesta prueba","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"idoperacion\":13, \"idguante\":1234, \"respuesta\":{\"BTN_1\":3,\"BTN_2\":4,\"BTN_3\":0,\"BTN_4\":0}}","payloadType":"jsonata","x":170,"y":120,"wires":[["3c195e32.88ad72","be737a73.eb8938"]]},{"id":"71f897e5.6d0238","type":"function","z":"28b4dafa.cece46","name":"descifrando respuesta","func":"var idoperacion = msg.payload.idoperacion;\nvar idguante = msg.payload.idguante;\nvar unidades = msg.payload.answer.BTN_1*1;\nvar decenas  = msg.payload.answer.BTN_2*10;\nvar centenas = msg.payload.answer.BTN_3*100;\nvar millares = msg.payload.answer.BTN_4*1000;\n\nvar resultado=unidades+decenas+centenas+millares;\n\nmsg.payload = {\n    \"idoperacion\": idoperacion,\n    \"idguante\": idguante,\n    \"resultado\": resultado\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":100,"wires":[["9451eb39.4493f8"]]},{"id":"bf5a2679.3bc5b8","type":"google-cloud-pubsub out","z":"28b4dafa.cece46","account":"d3bc49e3.8e9448","keyFilename":"e59e2934ad76dd74c3a290c155c6ffea2f16b121","topic":"projects/flatbox-edin/topics/edinfrom-module","name":"Out-to-cloud","x":1110,"y":200,"wires":[["9451eb39.4493f8"]]},{"id":"be737a73.eb8938","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"8ae4fd42.c2a98","type":"google-cloud-pubsub in","z":"28b4dafa.cece46","account":"d3bc49e3.8e9448","keyFilename":"e59e2934ad76dd74c3a290c155c6ffea2f16b121","subscription":"projects/flatbox-edin/subscriptions/edincloud-out","assumeJSON":true,"name":"FromCloud","x":60,"y":320,"wires":[["4014d9a3.7b41c8","b21ad1a5.caebf"]]},{"id":"1ea1a937.b96f17","type":"switch","z":"28b4dafa.cece46","name":"","property":"payload.idModule","propertyType":"msg","rules":[{"t":"eq","v":"10000000499e0fe7","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":460,"wires":[[],["770bbe03.ddef","68005119.34cbc"]]},{"id":"68005119.34cbc","type":"http request","z":"28b4dafa.cece46","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000/operation","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":520,"wires":[["770bbe03.ddef"]]},{"id":"770bbe03.ddef","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":460,"wires":[]},{"id":"c340f360.5b0b","type":"comment","z":"28b4dafa.cece46","name":"Sincronizar Operaciones Local-Nube","info":"Lo de aqui abajo deberia injectar todas la preguntas que vengan para este modulo en la nube en el app local. ","x":640,"y":440,"wires":[]},{"id":"f4dac43c.fc70a8","type":"join","z":"28b4dafa.cece46","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":860,"y":200,"wires":[[]]},{"id":"4014d9a3.7b41c8","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":380,"wires":[]},{"id":"b21ad1a5.caebf","type":"switch","z":"28b4dafa.cece46","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"10000000499e0fe7","vt":"str"},{"t":"eq","v":"all","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":300,"wires":[["c8d32bfc.fbcb48"],["c8d32bfc.fbcb48"],[]]},{"id":"1a7b43e8.34b33c","type":"comment","z":"28b4dafa.cece46","name":"formato de recepcion de pregunta","info":"{\n\"idModule\":1,\n\"module\":\"1234-5678\",\n\"gloveCode\":null,\n\"number1\":150,\n\"operation\":\"+\",\n\"number2\":150,\n\"result\":300,\n\"answer\":null,\n\"action\":\"Preguntar\",\n\"topic\":\"all\"\n}","x":480,"y":200,"wires":[]},{"id":"d277d519.627bf8","type":"inject","z":"28b4dafa.cece46","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"{\"idModule\":1,\"module\":\"1234-5678\",\"gloveCode\":null,\"number1\":20,\"operation\":\"+\",\"number2\":40,\"result\":100,\"answer\":null,\"action\":\"Preguntar\",\"topic\":\"all\"}","payloadType":"json","x":70,"y":400,"wires":[["b21ad1a5.caebf"]]},{"id":"c71e5c8c.5439e","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":260,"wires":[]},{"id":"c8d32bfc.fbcb48","type":"switch","z":"28b4dafa.cece46","name":"que mano es","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"Preguntar","vt":"str"},{"t":"eq","v":"Enseñar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":280,"wires":[["cc077cb8.afbb2","349d5529.3a87ba"],["56adca38.e44524","df3d30c8.67b6f"]]},{"id":"b1f5dc7c.b89cb","type":"split","z":"28b4dafa.cece46","name":"split son","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1280,"y":280,"wires":[["67bc8c0e.29c044","c71e5c8c.5439e"]]},{"id":"e125d35b.6b5d6","type":"delay","z":"28b4dafa.cece46","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":280,"wires":[["bd0a3447.ed0698"]]},{"id":"bd0a3447.ed0698","type":"change","z":"28b4dafa.cece46","name":"Delete Trash","rules":[{"t":"delete","p":"payload.idModule","pt":"msg"},{"t":"delete","p":"payload.module","pt":"msg"},{"t":"delete","p":"payload.gloveCode","pt":"msg"},{"t":"delete","p":"payload.answer","pt":"msg"},{"t":"delete","p":"payload.result","pt":"msg"},{"t":"delete","p":"payload.action","pt":"msg"},{"t":"delete","p":"payload.topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":280,"wires":[["b1f5dc7c.b89cb"]]},{"id":"67bc8c0e.29c044","type":"function","z":"28b4dafa.cece46","name":"Izquierda","func":"var ingreso = msg.payload;\nvar unidades;\nvar decenas;\nvar centenas;\nvar millares;\nvar signo;\n\n\nif (ingreso  >= 0 ){\n     \n    if (ingreso  >= 0 && ingreso  <= 9 ){\n        unidades=ingreso%10;\n        decenas=0;\n        centenas=0;\n        millares=0;\n    }\n    if (ingreso  >= 10 && ingreso  <= 99 ){\n        unidades=ingreso%10;\n    decenas=((ingreso%100)/10)-0.5;\n     centenas=0;\n        millares=0;\n    }\n    if (ingreso  >= 100 && ingreso  <= 999 ){\n        unidades=ingreso%10;\n         decenas=((ingreso%100)/10)-0.5;\n         if (decenas<=0 ){  decenas=((ingreso%100)/10) }\n        centenas=(ingreso/100)-0.5;\n        millares=0;\n    }\n    if (ingreso  >= 1000 && ingreso  <= 9999 ){\n         unidades=ingreso%10;\n    decenas=((ingreso%100)/10)-0.5;\n    if (decenas<=0 ){  decenas=((ingreso%100)/10) }\n    centenas=((ingreso%1000)/100)-0.5;\n     if (centenas<=0 ){  centenas=((ingreso%1000)/100) }\n    millares=((ingreso/1000))-0.5;\n    }\n    \n    msg.payload = { \"Id_mano\":\"izquierda\" , \n \"dedo_meni\":\"menique\",\n    \"M_meni\":[\"1\",\"1\",unidades.toFixed(0)],\n \"dedo_a\":\"anular\",\n    \"M_A\":[\"1\",\"1\",decenas.toFixed(0)],\n    \"dedo_medi\":\"medio\",\n     \"M_Medi\":[\"1\",\"1\",centenas.toFixed(0)],\n     \"dedo_I\" : \"indice\" ,   //Millar\n        \"M_I\":[\"1\",\"1\",millares.toFixed(0)],                                    // Guante izquierdo\n    \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",\"1\",\"0\"],\n              \n               \n\n}\n}\n\n\n    if (ingreso==\"+\"){\n        signo=2;\n         msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n    if (ingreso==\"-\"){\n        signo=3;\n          msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n    if (ingreso==\"*\"){\n        signo=4;\n          msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n    if (ingreso==\"/\"){\n        signo=5;\n          msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":300,"wires":[["c71e5c8c.5439e","a1343f8a.ee93e"]]},{"id":"cc077cb8.afbb2","type":"switch","z":"28b4dafa.cece46","name":"es menor a un melon","property":"payload.result","propertyType":"msg","rules":[{"t":"lte","v":"999999","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":280,"wires":[["e125d35b.6b5d6"],[]]},{"id":"349d5529.3a87ba","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":360,"wires":[]},{"id":"56adca38.e44524","type":"switch","z":"28b4dafa.cece46","name":"es menor a un melon","property":"payload.result","propertyType":"msg","rules":[{"t":"lte","v":"999999","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":320,"wires":[["1e0a7d04.481b23"],[]]},{"id":"1e0a7d04.481b23","type":"delay","z":"28b4dafa.cece46","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":320,"wires":[["c73a36b3.b5c0d8"]]},{"id":"5c6468b8.141188","type":"split","z":"28b4dafa.cece46","name":"split son","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1280,"y":320,"wires":[["4155743d.005aac","8eed3c2a.e6d3"]]},{"id":"4155743d.005aac","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1810,"y":380,"wires":[]},{"id":"c73a36b3.b5c0d8","type":"change","z":"28b4dafa.cece46","name":"Delete Trash","rules":[{"t":"delete","p":"payload.idModule","pt":"msg"},{"t":"delete","p":"payload.module","pt":"msg"},{"t":"delete","p":"payload.gloveCode","pt":"msg"},{"t":"delete","p":"payload.answer","pt":"msg"},{"t":"delete","p":"payload.action","pt":"msg"},{"t":"delete","p":"payload.topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":320,"wires":[["5c6468b8.141188"]]},{"id":"df3d30c8.67b6f","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"8eed3c2a.e6d3","type":"function","z":"28b4dafa.cece46","name":"derecha","func":"var ingreso = msg.payload;\nvar unidades;\nvar decenas;\nvar centenas;\nvar millares;\nvar signo;\n\n\nif (ingreso  >= 0 ){\n     \n    if (ingreso  >= 0 && ingreso  <= 9 ){\n        unidades=ingreso%10;\n        decenas=0;\n        centenas=0;\n        millares=0;\n    }\n    if (ingreso  >= 10 && ingreso  <= 99 ){\n        unidades=ingreso%10;\n    decenas=((ingreso%100)/10)-0.5;\n     centenas=0;\n        millares=0;\n    }\n    if (ingreso  >= 100 && ingreso  <= 999 ){\n        unidades=ingreso%10;\n         decenas=((ingreso%100)/10)-0.5;\n         if (decenas<=0 ){  decenas=((ingreso%100)/10) }\n        centenas=(ingreso/100)-0.5;\n        millares=0;\n    }\n    if (ingreso  >= 1000 && ingreso  <= 9999 ){\n         unidades=ingreso%10;\n    decenas=((ingreso%100)/10)-0.5;\n    if (decenas<=0 ){  decenas=((ingreso%100)/10) }\n    centenas=((ingreso%1000)/100)-0.5;\n     if (centenas<=0 ){  centenas=((ingreso%1000)/100) }\n    millares=((ingreso/1000))-0.5;\n    }\n    \n    msg.payload = { \"Id_mano\":\"izquierda\" , \n \"dedo_meni\":\"menique\",\n    \"M_meni\":[\"1\",\"1\",unidades.toFixed(0)],\n \"dedo_a\":\"anular\",\n    \"M_A\":[\"1\",\"1\",decenas.toFixed(0)],\n    \"dedo_medi\":\"medio\",\n     \"M_Medi\":[\"1\",\"1\",centenas.toFixed(0)],\n     \"dedo_I\" : \"indice\" ,   //Millar\n        \"M_I\":[\"1\",\"1\",millares.toFixed(0)],                                    // Guante izquierdo\n    \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",\"1\",\"0\"],\n              \n               \n\n}\n}\n\n\n    if (ingreso==\"+\"){\n        signo=2;\n         msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n    if (ingreso==\"-\"){\n        signo=3;\n          msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n    if (ingreso==\"*\"){\n        signo=4;\n          msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n    if (ingreso==\"/\"){\n        signo=5;\n          msg.payload = {\n             \"Id_mano\":\"izquierda\" ,\n          \"dedo_p\":\"pulgar\",\n        \"M_P\":[\"1\",signo,\"1\"]\n    }\n    }\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":380,"wires":[["4155743d.005aac","d7e5ef8f.3c09e"]]},{"id":"361bcbb5.31af54","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1890,"y":540,"wires":[]},{"id":"a1343f8a.ee93e","type":"delay","z":"28b4dafa.cece46","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1560,"y":520,"wires":[["361bcbb5.31af54","8a93e34b.ab3fb"]]},{"id":"d3817c1a.0c396","type":"switch","z":"28b4dafa.cece46","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1850,"y":460,"wires":[["603abfda.2f4dc","63ab0427.91d73c"],["d7e5ef8f.3c09e","6be6b94e.26cd18"]]},{"id":"75a1b92c.f1b348","type":"mqtt out","z":"28b4dafa.cece46","name":"Topico de cambio","topic":"iot/edin/evnt/initiate/device/cambio","qos":"0","retain":"false","broker":"35f45646.37bd8a","x":3050,"y":360,"wires":[]},{"id":"8a93e34b.ab3fb","type":"counter","z":"28b4dafa.cece46","name":"","init":"0","step":"1","lower":"0","upper":"3","mode":"increment","outputs":"1","x":1740,"y":620,"wires":[["300ba5c6.795dba","d3817c1a.0c396"]]},{"id":"300ba5c6.795dba","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1910,"y":620,"wires":[]},{"id":"ba9bacfb.09677","type":"counter","z":"28b4dafa.cece46","name":"","init":"0","step":"1","lower":"0","upper":"","mode":"increment","outputs":"1","x":1740,"y":680,"wires":[["b65a9d5a.b23a4"]]},{"id":"b65a9d5a.b23a4","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1910,"y":680,"wires":[]},{"id":"181efa3a.fc2c16","type":"inject","z":"28b4dafa.cece46","name":"","props":[{"p":"reset","v":"0","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1510,"y":680,"wires":[["ba9bacfb.09677","fbd13655.3f94c8"]]},{"id":"3b3ccf34.3975","type":"change","z":"28b4dafa.cece46","name":"","rules":[{"t":"set","p":"count","pt":"msg","to":"reset","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":720,"wires":[["4c8e7501.5b765c"]]},{"id":"fbd13655.3f94c8","type":"function","z":"28b4dafa.cece46","name":"derecha","func":"msg.reset=0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":760,"wires":[["16e13d4.107bec3"]]},{"id":"b4e287b8.be94a8","type":"inject","z":"28b4dafa.cece46","name":"","props":[{"p":"count","v":"2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1550,"y":640,"wires":[["ba9bacfb.09677"]]},{"id":"16e13d4.107bec3","type":"debug","z":"28b4dafa.cece46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":760,"wires":[]},{"id":"d8cced1d.0156e","type":"inject","z":"28b4dafa.cece46","name":"","props":[{"p":"reset","v":"0","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1430,"y":760,"wires":[["fbd13655.3f94c8"]]},{"id":"4c8e7501.5b765c","type":"debug","z":"28b4dafa.cece46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2230,"y":680,"wires":[]},{"id":"603abfda.2f4dc","type":"change","z":"28b4dafa.cece46","name":"","rules":[{"t":"set","p":"count","pt":"msg","to":"reset","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2120,"y":500,"wires":[["8a93e34b.ab3fb"]]},{"id":"7cea41ee.dae75","type":"mqtt out","z":"28b4dafa.cece46","name":"","topic":"/cambio","qos":"0","retain":"false","broker":"35f45646.37bd8a","x":240,"y":600,"wires":[]},{"id":"5c4d26b8.ab12f8","type":"inject","z":"28b4dafa.cece46","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Id_mano\":\"izquierda\" ,\"dedo_meni\":\"menique\",\"M_meni\":[\"1\",\"1\",\"2\"],\"dedo_p\":\"pulgar\",\"M_P\":[\"1\",\"1\",\"2\"],\"dedo_medi\":\"medio\",\"M_Medi\":[\"1\",\"1\",\"2\"],\"dedo_a\":\"anular\",\"M_A\":[\"1\",\"1\",\"2\"]}","payloadType":"json","x":70,"y":600,"wires":[["7cea41ee.dae75"]]},{"id":"6be6b94e.26cd18","type":"debug","z":"28b4dafa.cece46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2330,"y":320,"wires":[]},{"id":"dfd8726d.a41b","type":"inject","z":"28b4dafa.cece46","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Id_mano\":\"izquierda\" ,\"dedo_meni\":\"menique\",\"M_meni\":[\"1\",\"1\",\"2\"],\"dedo_p\":\"pulgar\",\"M_P\":[\"1\",\"1\",\"2\"],\"dedo_medi\":\"medio\",\"M_Medi\":[\"1\",\"1\",\"2\"],\"dedo_a\":\"anular\",\"M_A\":[\"1\",\"1\",\"2\"]}","payloadType":"json","x":69,"y":220,"wires":[[]]},{"id":"85ce260f.7fb1c8","type":"mqtt in","z":"28b4dafa.cece46","name":"","topic":"pong","qos":"2","datatype":"auto","broker":"35f45646.37bd8a","x":2210,"y":400,"wires":[["867193ce.412e5"]]},{"id":"867193ce.412e5","type":"counter","z":"28b4dafa.cece46","name":"","init":"0","step":"1","lower":"0","upper":"3","mode":"increment","outputs":"1","x":2380,"y":400,"wires":[["e54db030.19b62"]]},{"id":"d7e5cca.11f2d3","type":"debug","z":"28b4dafa.cece46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":480,"wires":[]},{"id":"ca122c12.244d6","type":"debug","z":"28b4dafa.cece46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3010,"y":440,"wires":[]},{"id":"46a30027.ab318","type":"function","z":"28b4dafa.cece46","name":"get global envios","func":"var cnt = msg.count;\nvar env = global.get(\"envios\");\n\nif (cnt == env){\n    msg.payload = 2;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2750,"y":440,"wires":[["ca122c12.244d6","75a1b92c.f1b348"]]},{"id":"e54db030.19b62","type":"switch","z":"28b4dafa.cece46","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2530,"y":400,"wires":[["238f1d33.b85e52","46a30027.ab318"],[]]},{"id":"238f1d33.b85e52","type":"change","z":"28b4dafa.cece46","name":"","rules":[{"t":"set","p":"count","pt":"msg","to":"reset","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2540,"y":520,"wires":[["867193ce.412e5"]]},{"id":"63ab0427.91d73c","type":"function","z":"28b4dafa.cece46","name":"","func":"var envios = msg.count;\n\nglobal.set(\"envios\", envios);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2130,"y":460,"wires":[["d7e5cca.11f2d3"]]},{"id":"595202ec.1a1acc","type":"debug","z":"28b4dafa.cece46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":40,"wires":[]}]